<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @bid.comment %>
</p>

<p>
  <b>Active:</b>
  <%= @bid.active %>
</p>


<%= link_to 'Edit', edit_bid_path(@bid), class: "button radius"%>
<%= link_to 'Back', bids_path, class: "button radius"%>
