<%= simple_form_for(@offer) do |f| %>
<fieldset>
  <legend><%=offer_type(@offer) %> Offer</legend>
  <div class="row">
    <div class="large-12 columns">
        <%= f.error_notification %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.association :plane %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.association :part %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.input :comment %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= link_to 'Back', offers_path, :class => "button radius"%>
      <%= f.submit "Save", :class => "button radius" %>
    </div>
  </div>
</fieldset>
<% end %>