<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :comment, class: "right inline", title: "Additional information", data: {tooltip: true } %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :comment %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :active, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.check_box :active %>
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-offset-3 columns">
      <%= f.submit %>
    </div>
  </div>
<% end %>
