<h1>Offers</h1>

<table>
  <thead>
    <tr>
      <th width="200"></th>
      <th width="100">Plane</th>
      <th width="100">Part</th>
      <th width="100">Apple ID</th>
      <th width="400">Comment</th>
    </tr>
  </thead>
  <tbody>
<% if user_signed_in? %>
<% @offers.each do |offer| %>
  <tr>
    <td>
      <%if editable?(offer) %>
        <%= link_to 'Edit', edit_offer_path(offer) %>
        <%= link_to 'Destroy', offer, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      <%else%>
        <%= link_to 'Show', offer %>
      <%end%>
    <td><%= offer.plane.name %></td>
    <td><%= offer.part.name if offer.part %></td>
    <td><%= offer.user.gamecenter_id %></td>
    <td><%= offer.comment %></td>
  </tr>
<% end %>
<%else%>
  <tr>
    <td colspan=7>
      You must be logged in to view offers
    </td>
  </tr>
<%end%>
  <tbody>
</table>
<% if user_signed_in? %>
<%= link_to 'Create Offer', new_offer_path, class: "button radius" %>
<%= will_paginate @offers %>
<%end%>